


.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1D5C63;  
    margin: 20px;
    min-width: 30vw;
    min-height: 20vh;
    
}



.icono-iphone{
    display: flex;
    align-items: flex-start;
    font-size: 3rem;
}

.numero-telefono{
    font-size: 25px;
}

.gmail{
    font-size: 17px;
}

.conteiner-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-iconos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icono{
    font-size: 3rem;
}



@media screen and (max-width:700px){
   .telefono{
    font-size: 40px
   }

}