
  
  .containerHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
} 


.containerNav{
    background-attachment: fixed;
}

    
    .hs {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       font-family: 'Bebas Neue', sans-serif;
    }

    .hs h2{
        color: #1D5C63;
        font-size: 80px;
        float: left;
        position: relative;
    }
    .hs h1{
        color: #417D7A;
        font-size: 100px;
        float: left;
        position: relative;
    }
    .hs span{
        position: absolute;
        right: 0;
        width: 0;
        background: #EDE6DB ; 
        border-left: 1px solid;
        animation: maquina 2s infinite alternate steps(19)
    }

    @keyframes maquina {
        from {
            width: 100%;
        }
        to {
            widht: 0;
        }
    }

    .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .icono{
        color: #FFA8A8;
        margin: 1rem;
    }

    .icono:hover{
        color: #1D5C63;
        transition: 1.5s ease;
    }
    
    
    