.textoH{
    font-size: 60px;
    text-shadow: 0.5px 0.5px 5px red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Nunito', sans-serif;
} 

.textoH section{
    padding: 10px;
} 

.habilidades{
    display: block;
    flex-direction: row;
}

.container-skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #3f3e3e60;
}

.icono-titulo{
    font-family:'Montserrat', sans-serif;
    padding: 1.5rem;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;
}

.icono-titulo:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}

