.info{
    background-color: #EDE6DB;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    border: 3px solid #1A3C40;
    color:#417D7A
}

.fotoPerfil{
    border-radius: 2%;
}

.fotoPerfil:hover{
    box-shadow: 0 0.5rem 0.9rem rgb(30, 71, 76);
    transition: box-shadow 0.3s ease;
}

.sobremi{
    color: #F47C7C;
    font-size: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Smooch Sans', sans-serif;
} 

.sobremi section{
    padding: 10px;
}

.number{
    color: #1A3C40;
}

.texto{
    padding: 1rem;
}

.samuel{
    display: block;
    justify-content: center;
    flex-direction: row;
    color: #F47C7C;
}

.s1{
    color: #F47C7C;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.s2{
    padding-left: 1.2rem;
}

.hola{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.descarga-boton{
    font-size: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    border-radius: 5%;
    padding: 0.5rem 0.5rem;
    background-color: #F47C7C;
}

.divBoton{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    padding-top: 1rem;
}

.descarga-boton:hover{
    background-color:#630000;
    transition: 1s ease; 
    color: white;
    text-decoration: none;
}
