.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: block;
    color: white;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all 1s ease;
    text-decoration: none solid rgb(255, 255, 255, 0.835);
}

.nav-link:hover{
    color: #FFA8A8;
}

ul{
    background-color: #1A3C40
}

