
.container-proyects1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}



.container-proyects2{
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.30s;
    cursor: pointer;
    padding: 30px;
}

.container-proyects2:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(85, 23, 23, 0.4);
}




.titulo-img{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

.learnzilla-img{
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.descr{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    max-width: fit-content;
    max-height: fit-content;
}






/* .desrcipcion{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
} */


